<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external CSS file for styling the page -->
    <link rel="stylesheet" href="/stylesheets/aboutStyle.css">
    <title>About Me</title>
</head>
<body>
    <!-- Introduction section of the page -->
    <section id="introduction">
        <div class="subtitle">
           <h2>About Me</h2> <!-- Subtitle for the "About Me" section -->
        </div>
        
        <div class="profile">
            <!-- My face image section -->
            <div class="myface">
                <img src="/images/profile.png" alt="myface" class="selfphoto"> <!-- Profile picture -->
            </div>
            <!-- Description section about the individual -->
            <article class="description">
                <h2>Shunsuke Hirao</h2> <!-- Name of the person -->
                <hr> <!-- Horizontal line to separate sections -->
                <p>
                    Hello, my name is Shunsuke Hirao. I have a strong passion for software development.<br>
                    I took a computer course when I was a Bachelor of Arts student at Kyoto University of Foreign Studies.<br>
                    Now I'm a student who takes computer science in Georgian College while working 
                    as a freelance web developer. <br>
                    My work is <a href="https://shunsuke-hirao.github.io/Tsudou/en.index.html" target="_blank" rel="noopener noreferrer">here</a> <!-- Link to work -->
                </p>
            </article>
        </div>
    </section>
</body>
</html>
