<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contactStyle.css">
    <title>Contact Me</title>

</head>
<body>
    <div class="subtitle">
        <h2>Contact Me</h2> 
    </div>


    <div class="profile">
        <div class="myface">
            <img src="/images/profile.png" alt="myface" class="selfphoto">
        </div>
        <article class="description">
            <p>
                This is my email<br>
                <a href="mailto:hirashun1224@gmail.com">hirashun1224@gmail.com</a> 
            </p>
        </article>
    </div>
</body>
</html>