<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .subtitle{
            text-align: center;
            font-size: 1.3rem;
            margin: 25px 0;
            background: #DDDDDD;
            color: white;
            text-shadow: 1px 1px 1px #24292e;
            padding: 25px 0;
        }
    </style>
</head>
<body>
    <div class="subtitle">
        <h2>Contact Me</h2> 
    </div>
</body>
</html>