<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <style>
        
        body{
            margin: 0;
            padding: 0;
        }
        .container{
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
        .mt-5{
            margin-top: 0px !important;
        }
        #home{
            position: relative;
            width: 100%;
            height: 500px;
        }
        #home p {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            width: 700px;
            margin: 0 auto;
            font-size: 3rem;
            font-weight: 800;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        #home picture img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <section id="home">
        <p>Welcome to my Portfolio</p>
        <picture>
            <img src="/images/home.jpg" alt="myFace">
        </picture>
    </section>
</body>
</html>