<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external CSS file for styling the page -->
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <title>home</title> <!-- Title of the webpage -->
</head>
<body>
    <!-- Home section containing welcome message and image -->
    <section id="home">
        <p>Welcome to my Portfolio</p> <!-- Welcome message for the portfolio page -->
        <picture>
            <!-- Displaying an image of the user (e.g., profile picture or something related) -->
            <img src="/images/home.jpg" alt="myFace"> <!-- Image of the user with the alt text for accessibility -->
        </picture>
    </section>
</body>
</html>
