<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        body{
            color: #24292e;
            background: #fffff0;
        }
        
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">My Portfolio</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
            </ul>
        </div>
    </div>
    </nav>

    {{!-- <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Welcome to my portfolio site</h1>
    </div> --}}

    <div class="container">
        {{{body}}}
    </div>
   <footer class="text-center mt-5">
        <p>&copy; 2025 My Portfolio</p>
        <a href="https://github.com/i-am-shunsuke/COMP2068JSFrameworks/tree/main/ASSIGNMENT01/my-portfolio" target="_blank">GitHub</a> | 
        <a href="https://www.linkedin.com/in/shunsuke-hirao-453a56230/" target="_blank">LinkedIn</a>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" 
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
    </script>
</body>
</html>