<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external CSS file for styling the project page -->
    <link rel="stylesheet" href="/stylesheets/projectStyle.css">
    <title>Project</title> <!-- Title of the webpage -->
</head>
<body>
    <!-- Section to display the projects -->
    <section id="project">
        <div class="subtitle">
            <!-- Title of the section -->
            <h2>Project</h2> 
        </div>

        <!-- Project 1: Design using CSS -->
        <div class="project1">
            <h3>Design using CSS</h3>
            <!-- Link to the GitHub repository for this project -->
            <a href="https://github.com/Shunsuke-Hirao/cssProject.git" target="_blank" rel="noopener noreferrer">Project here</a>
        </div>

        <!-- Project 2: Hogwart Sorting House Game using C# -->
        <div class="project2">
            <h3>Hogwart Sorting House Game using C#</h3>
            <!-- Link to the GitHub repository for this project -->
            <a href="https://github.com/Shunsuke-Hirao/HogwartSortingHouse.git" target="_blank" rel="noopener noreferrer">Project here</a>
        </div>

        <!-- Project 3: Timer using HTML, CSS, and JavaScript -->
        <div class="project3">
            <h3>Timer using Html CSS JavaScript</h3>
            <!-- Link to the GitHub repository for this project -->
            <a href="https://github.com/Shunsuke-Hirao/timer.git" target="_blank" rel="noopener noreferrer">Project here</a>
        </div>

        <!-- Project 4: Website History List using Python -->
        <div class="project4">
            <h3>Website History List using Python</h3>
            <!-- Link to the GitHub repository for this project -->
            <a href="https://github.com/Shunsuke-Hirao/WebsiteHistoryList.git" target="_blank" rel="noopener noreferrer">Project here</a>
        </div>
    </section>
</body>
</html>
