<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .subtitle{
            text-align: center;
            font-size: 1.3rem;
            margin: 25px 0;
            background: #DDDDDD;
            color: white;
            text-shadow: 1px 1px 1px #24292e;
            padding: 25px 0;
        }
        #project .project1{
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
        #project .project1 a{
            margin-left: 20px;
        }
        #project .project2{
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        #project .project2 a{
            margin-left: 20px;
        }
        #project .project3{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 10px;
        }
        #project .project3 a{
            margin-left: 20px;
        }
        #project .project4{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        #project .project4 a{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <section id="project">
        <div class="subtitle">
            <h2>Project</h2> 
        </div>

        <div class="project1">
            <h3>Design using CSS</h3>
            <a href="https://github.com/Shunsuke-Hirao/cssProject.git" target="_blank" rel="noopener noreferrer">Project here</a>
        </div>
        <div class="project2">
            <h3>Hogwart Sorting House Game using C#</h3>
            <a href="https://github.com/Shunsuke-Hirao/HogwartSortingHouse.git"  target="_blank" rel="noopener noreferrer">Project here</a>
        </div>
        <div class="project3">
            <h3>Timer using Html CSS JavaScript</h3>
            <a href="https://github.com/Shunsuke-Hirao/timer.git"  target="_blank" rel="noopener noreferrer">Project here</a>
        </div>
        <div class="project4">
            <h3>Website History List using Python</h3>
            <a href="https://github.com/Shunsuke-Hirao/WebsiteHistoryList.git"  target="_blank" rel="noopener noreferrer">Project here</a>
        </div>
    </section>
</body>
</html>