/* Subtitle section styling */
.subtitle{
    text-align: center;
    font-size: 1.3rem;
    margin: 25px 0;
    background: #DDDDDD;
    color: white;
    text-shadow: 1px 1px 1px #24292e;
    padding: 25px 0;
}

/* Section for separating profile and contact form */
#sep{
    display: flex;
    justify-content: space-around;
}

/* Profile section's appearance for the photo */
.profile .myface{
    width: 300px;
    height: 300px;
    padding: 0;
}

/* Image styling inside the profile section */
.profile .myface img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

/* Description styling for the profile */
.description{
    text-align: center;
    font-size: 1.5rem;
}

/* Contact form container styling */
.contact-form {
    max-width: 500px;
    padding: 15px 35px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading inside the contact form */
.contact-form h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

/* Label styling inside the contact form */
.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/* Input and textarea styles inside the contact form */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Textarea specific styling inside the contact form */
.contact-form textarea {
    height: 100px;
    resize: none;
}

/* Button styling inside the contact form */
.contact-form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #d2b48c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.contact-form button:hover {
    background-color: #DDDDDD;
}
