.subtitle{
    text-align: center;
    font-size: 1.3rem;
    margin: 25px 0;
    background: #DDDDDD;
    color: white;
    text-shadow: 1px 1px 1px #24292e;
    padding: 25px 0;
}
#project .project1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#project .project1 a{
    margin-left: 20px;
}
#project .project2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#project .project2 a{
    margin-left: 20px;
}
#project .project3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
#project .project3 a{
    margin-left: 20px;
}
#project .project4{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#project .project4 a{
    margin-left: 20px;
}